CONFIG_SBI_ECALL_TIME=y
CONFIG_SBI_ECALL_SRST=y
CONFIG_SBI_ECALL_DBCN=y
# CONFIG_SBI_ECALL_PMU is not set
# CONFIG_SBI_ECALL_CPPC is not set
# CONFIG_SBI_ECALL_SUSP is not set
# CONFIG_SBI_ECALL_DBTR is not set
# CONFIG_SBI_ECALL_SSE is not set
# CONFIG_SBI_ECALL_MPXY is not set
